$caribbean-current: #006466ff;
$midnight-green: #065a60ff;
$midnight-green-2: #0b525bff;
$midnight-green-3: #144552ff;
$charcoal: #1b3a4bff;
$prussian-blue: #212f45ff;
$space-cadet: #272640ff;
$dark-purple: #312244ff;
$dark-purple-2: #3e1f47ff;
$palatinate: #4d194dff;

$border-radius-regular: 0.5rem;
$border-radius-bold: 0.8rem;

$btn-flex-gap: 0.15rem;

$primary-color: #007aff;
$secondary-color: #bcbcbc;
$font-family: "Lato", sans-serif;

// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Scollbars
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: $space-cadet;
}

body {
  background-color: $prussian-blue;
}

main {
  background-color: $dark-purple;
  border-radius: $border-radius-regular;
  width: clamp(500px, 60%, 700px);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 4rem;
  gap: 1rem;
  box-shadow: 0px 0px 90px -25px darken($color: $prussian-blue, $amount: 50);
  & .toolbar {
    display: flex;
    gap: $btn-flex-gap;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    & .toolbar-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      aspect-ratio: 1;
      padding: 0.25rem;
    }
  }
}

dialog {
  position: relative;
  padding: 0.75rem;
  background-color: lighten($color: $prussian-blue, $amount: 35);
  border-radius: $border-radius-bold;
  overflow: visible;
  border: 0.15rem solid darken($color: $prussian-blue, $amount: 15);
  outline: none;

  &::backdrop {
    background-color: opacify(
      $color: darken($color: $prussian-blue, $amount: 10),
      $amount: 0.75
    );
    // opacity: 0.85;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  & .dialog-close {
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 100%;
    width: 1.25rem;
    display: grid;
    place-items: center;
    aspect-ratio: 1;
    background-color: transparent;
    &:hover {
      background-color: lighten($color: $prussian-blue, $amount: 10);
      cursor: pointer;
    }
    & i {
      color: white;
    }
  }
}

dialog.dynamic-dialog {
  border-radius: 0.5rem;
  .title {
    text-align: center;
    padding: 0.25rem;
    margin: 0;
    font-size: 1.5rem;
    border-bottom: 1px solid $charcoal;
    text-transform: uppercase;
  }
  .subtitle {
    text-align: center;
    padding: 0.25rem;
    margin: 0;
    margin-bottom: 0.25rem;
    font-size: 0.7125rem;
    font-weight: 300;
    text-transform: uppercase;
  }
}

dialog.dynamic-popup {
  .actions {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: $btn-flex-gap;
    .action-btn {
      width: 100%;
      &.primary-btn {
        background-color: $caribbean-current;
      }
      &.secondary-btn {
        background-color: $prussian-blue;
      }
    }
  }
}

.dynamic-form-field {
  display: grid;
  grid-template-columns: 4rem 1fr;
  padding: 0.25rem;
  margin: 0;
  gap: 0.5rem;
  align-items: center;
  & .label {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 300;
  }
  & .input {
    width: 100%;
  }
}

// Account Cards

#account-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.account-card {
  $accent-color: var(--data-accent-color);
  width: 100%;
  background: white;
  border-radius: 10px;
  padding: 20px;
  border: 2px solid $accent-color;
  transition: transform 0.3s ease, border 0.15s ease, box-shadow 0.15s ease;

  &:hover {
    border: 4px solid $accent-color;
    transform: translate(0, -1rem);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2),
      inset 0 0 12px rgba($accent-color, 0.5),
      inset 0 0 24px rgba($accent-color, 0.3),
      inset 0 0 36px rgba($accent-color, 0.1);
  }

  .account-card-header {
    @include flex-center;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .account-title {
    font-size: 24px;
    font-weight: 700;
    color: $primary-color;
  }

  .account-amount {
    font-size: 18px;
    font-weight: 400;
    color: $secondary-color;
  }

  .account-card-body {
    display: flex;
    justify-content: space-between;
    .account-income,
    .account-expenses {
      flex: 1;
      text-align: center;
    }

    .account-income {
      color: green;
    }

    .account-expenses {
      color: red;
    }
  }
}
