:root {
  font-family: "Lato", sans-serif;
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

input[type="text"],
input[type="number"] {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
}
